.blog-filter {
    margin-top: 15px;
}
.blog-filter--title {
    font-size: 20px;
    font-weight: bold;
}

.blog-filter--list {
    margin-top: 5px;
}

.blog-filter--item {
    color: #1f95b4;
    /*text-decoration: none;*/
    cursor: pointer;
    font-size: 14px;
    line-height: 1.2;
}